body {
    background: #00BFFF !important;
}

div.clouds {
    padding-top: 100px;
}

div.cloud {
    width: 200px;
    height: 60px;
    background: white;
    border-radius: 200px;
    position: relative;
}

div.cloud:before, div.cloud:after {
    content: '';
    position: absolute;
    background: white;
    width: 100px;
    height: 80px;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
}

div.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

div.c1 {
	top: 250px;
	-webkit-animation: moveclouds 15s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 600px;}
	100% {margin-left: -600px;}
}

div.ground {
	background: #8a8360;
	border-top: 5px solid #007A00;
	position: absolute;
	height: 30px;
	bottom: 0px;
	width: 100%;
}	












